NODE_ID=app-a
RELEASE_SHA=REPLACE_FULL_40_CHARACTER_SHA
GHCR_ORG=replace-github-org
WORDPRESS_DB_SSL=false

CORPORATE_DB_NAME=cetech_corporate
CORPORATE_DB_USER=wp_corporate
CORPORATE_DB_PASSWORD=REPLACE
STORE_DB_NAME=cetech_store_gh
STORE_DB_USER=wp_store_gh
STORE_DB_PASSWORD=REPLACE
BLOG_DB_NAME=cetech_blog_en
BLOG_DB_USER=wp_blog_en
BLOG_DB_PASSWORD=REPLACE

CORPORATE_VALKEY_USERNAME=wp-corporate
CORPORATE_VALKEY_PASSWORD=REPLACE
STORE_VALKEY_USERNAME=wp-store-gh
STORE_VALKEY_PASSWORD=REPLACE
BLOG_VALKEY_USERNAME=wp-blog-en
BLOG_VALKEY_PASSWORD=REPLACE

CORPORATE_AUTH_KEY=REPLACE
CORPORATE_SECURE_AUTH_KEY=REPLACE
CORPORATE_LOGGED_IN_KEY=REPLACE
CORPORATE_NONCE_KEY=REPLACE
CORPORATE_AUTH_SALT=REPLACE
CORPORATE_SECURE_AUTH_SALT=REPLACE
CORPORATE_LOGGED_IN_SALT=REPLACE
CORPORATE_NONCE_SALT=REPLACE

STORE_AUTH_KEY=REPLACE
STORE_SECURE_AUTH_KEY=REPLACE
STORE_LOGGED_IN_KEY=REPLACE
STORE_NONCE_KEY=REPLACE
STORE_AUTH_SALT=REPLACE
STORE_SECURE_AUTH_SALT=REPLACE
STORE_LOGGED_IN_SALT=REPLACE
STORE_NONCE_SALT=REPLACE

BLOG_AUTH_KEY=REPLACE
BLOG_SECURE_AUTH_KEY=REPLACE
BLOG_LOGGED_IN_KEY=REPLACE
BLOG_NONCE_KEY=REPLACE
BLOG_AUTH_SALT=REPLACE
BLOG_SECURE_AUTH_SALT=REPLACE
BLOG_LOGGED_IN_SALT=REPLACE
BLOG_NONCE_SALT=REPLACE

